/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: gemeli,helvetica neue,Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  font-weight: 400;
  width: 100%;
  background: #282c34;
  transition: margin-top .5s ease;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

h1, .h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background:#212529 ;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.content-header {
  padding:1.5rem;
}

.flex-sm-header{
  align-items: center !important;
}

.auto-mr {
  margin-right: auto !important;
}

@media (min-width: 576px) {
  align-tems: center !important;
}

.form-content{
  flex: 1 1 auto;
  background: #fff;
  padding: 1.5rem;
  margin: 0;
}

.form-container {
  max-width: 1200px;
  margin: 0 auto;
}
a {
  color: #00b0f2;
  text-decoration: none;
  background-color: transparent;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.nav-tabs .nav-item {
  margin-bottom: 0;
}

.search-tabs {
  margin-bottom: 1.25rem;
  flex-wrap: nowrap;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs {
  border-bottom: 1px solid #aab3c1;
  background-color: inherit;
}

.search-tabs .nav-link.active {
  color: #ff00b8;
}

.nav-tabs .nav-link.active {
  font-weight: 700;
  border-color: #dee2e6 #dee2e6 #fff;
}

.search-tabs .nav-link {
  text-align: center;
}

.nav-tabs .nav-link {
  background-color: inherit !important;
  border: none;
  text-transform: uppercase;
  transition: color .15s ease-in-out;
  padding: .75rem 1rem;
  position: relative;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.nav-tabs .nav-link.active:before {
  content: ''; 
  width: 0;
  height: 0;
  position: absolute;
  left: calc(50% - 7px);
  bottom: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #aab3c1;
}

.nav-tabs .nav-link.active:after {
  content: ''; 
  width: 0;
  height: 0;
  position: absolute;
  left: calc(50% - 7px);
  bottom: -1.5px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
}

/* ***********************************************************Interax form row ***********************************************/
.content-container .form-content.interax-form-content 
.interax-form-row, .interaction-search-container .interax-form-row{
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 0;
}

.form-content .form-row {
  display: flex;
  flex-wrap: nowrap;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
}

form.name-search-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  width: 50%;
}

input {
  overflow: visible;

}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* ************* Search Box *************************** */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
h6, .h6 {
  font-size: 1rem;
}
form.name-search-form 
.drug-search-box {
    background: #282c34;
    padding: 2rem 3rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

form.name-search-form .drug-search-box .interax-header{
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}


form.name-search-form .drug-search .select2-container {
  width: 100% !important;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

form.name-search-form .drug-search .select2-selection {
  height: 50px;
  border: 2px solid #ff00b8;
  border-radius: 25px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container--default .select2-selection--multiple {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

form.name-search-form .drug-search .select2-selection__rendered {
  line-height: 48px;
  padding-left: 0;
  padding-right: 0;
  font-sizing: 1.25rem;
  font-weight: lighter;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: inline-block;
  overflow: hiddren;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li{
  list-stlye: none;
}


.select2-container .select2-search--inline {
  float:left;
}

form.name-search-form .drug-search .select2-selection__rendered .select2-search .select2-search__field {
  padding: 0 25px;
  margin-top: 0;
  font-weight: lighter;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

[type=search]{
  outline-offset: -2px;
  -webkit-appearance: none;
}

button, input {
  overflow: visible;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#drug-product-list .btn-label{
  background-color: #f7f7f7;
  color: #282c34;
  border: solid 1px #cecece;
  margin-right: .5rem;
  margin-bottom: .5rem;
  border-radius: .75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
  padding: .5rem 1rem;
  cursor: default;
}

.btn:not(:disabled):not(.disabled), .page-header .actions a:not(:disabled):not(.disabled) {
  cursor: default;
}

.btn, .page-header .actions a {
  cursor: pointer;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.content-container .form-content.interax-form-content .drugbank-icon.icon-minus, 
.content-container .form-content.interax-form-content .drugbank-icon.icon-plus, 
.interaction-search-container .drugbank-icon.icon-minus, 
.interaction-search-container .drugbank-icon.icon-plus {
  margin-left: .5em;
  background: #ff00b8;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  line-height: 1.2;
  font-size: 1rem;
  cursor: pointer;
}

.drugbank-icon.icon-circle {
  border-radius: 50%;
}

.drugbank-icon {
  display: inline-block;
  line-height: 0;
}

form.name-search-form .search-actions {
  margin-top: 1rem;
}

.search-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: -.5rem;
}

form.name-search-form .search-actions button[type=button]{
  max-width: 450px;
  min-width: 50%;
  flex: 1 1 auto;
}

.btn-1:not(:disabled):not(.disabled), .page-header .actions a:not(:disabled):not(.disabled){
  cursor: pointer;
}

.search-actions button[type=submit], .search-actions input[type=submit] {
  font-size: 1.25rem;
  font-weight: 500;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}

.search-actions button, .search-actions a, .search-actions input {
  margin-bottom: .5rem;
}

.btn-pink-filled-1 {
  color: #fff;
  background-color: #ff00b8;
  border-color: #ff00b8;
  border-radius: 999px;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

button, input {
  overflow: visible;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.btn-1, .page-header .actions a{
  /* display: inline-block; */
  /* font-weight: 400; */
  color: #fff;
  /* text-align: center; */
  /* vertical-align: middle; */
  /* -webkit-user-select: none; */
  /* -moz-user-select: none; */
  /* -ms-user-select: none; */
  /* user-select: none; */
  /* background-color: transparent; */
  /* border: 1px solid transparent; */
  padding: .375rem .75rem;
  /* font-size: 1rem; */
  /* line-height: 1.5; */
  /* border-radius: .25rem; */
  /* transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; */
}

.btn-2:not(:disabled):not(.disabled), .page-header .actions a:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.search-actions .btn-sm {
  text-transform: uppercase;
  font-weight: 700;
  padding: .25rem 1rem;
  font-size: .875rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
}

.search-actions a {
  margin-bottom: .5rem;
}

.btn-blue {
  color: #00b0f2;
  border: 1px solid #00b0f2;
  border-color: #00b0f2;
  border-radius: 999px;
}

.btn-2, .actions a {
  cursor: pointer;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#disclaimer {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 1.5rem;
  font-size: .9rem;
}

.content-container .form-content.interax-form-content .warning {
  color: #ea6771;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: .5rem;
  padding: 1rem;
  border: 2px solid #ea6771;
  border-radius: 1rem;
}

.drug-icon {
  display: inline-block;
  line-height: 0;
}

.drug-icon svg {
  background-color: transparent;
  fill: currentColor;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}

.results .anchor {
  position: absolute;
  top: -64px;
  left: 0;
}

.results {
  margin-bottom: 3rem;
  position: relative;
}

.results h2 {
  font-weight: 400;
  margin-bottom: 1rem;
  
}

h2 {
  color: #00161e;
  font-weight: lighter;
  font-size: 1.7rem;
  margin-top: 1.5rem;
}

.results .drug-interactions .interactions-box {
  background: #f7f7f7;
  border: 1px solid #cecece;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

.results .drug-interactions .interactions-box .interactions-row:not(:last-child){
  border-bottom: 1px solid #cecece;
}

.results .drug-interactions .interactions-row {
  display: flex;
  flex-direction: row;
  margin: 0 3rem;
}

.results .drug-interactions .interactions-col.subject{
  width: 25%;
  justify-content: center;
}

.results .drug-interactions .interactions-col {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  position: relative;
}

.results .drug-interactions .interactions-col h5{
  margin-bottom: 0;
  text-align: center;
}

h5, .h5 {
  font-size: 1.25rem;
}

.results .drug-interactions .interactions-col h5 a {
  word-break: break-word;
  color: #282c34;
  font-weight: 600;
}

.results .drug-interactions .interactions-col.interacts {
  width: 0%;
  padding: 1rem 0;
  justify-content: center;
}

.results .drug-interactions .interactions-col .icon-interacts {
  position: absolute;
  right: -12px;
}

.drug-icon-1 {
  display: inline-block;
  line-height: 0;
}

.severity-major svg {
  stroke: #741d5c;
}

.drug-icon-1 svg {
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}

.results .drug-interactions .interactions-col.affected {
  width: 25%;
  justify-content: center;
}

.results .drug-interactions .interactions-col.severity {
  width: 20%;
  justify-content: center;
}

.results .drug-interactions .interactions-header {
  position: absolute;
  top: -2rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.content-container .form-content.interax-form-content .info-popover, .interaction-search-container .info-popover{
  margin-left: .5em;
  position: absolute;
}

.severity-major.severity-badge {
  background: #741d5c;
}

.severity-badge {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 1rem;
  border-radius: 1rem;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.results .drug-interactions .interactions-col.description {
  width: 30%;
  max-width: 300px; /* adjust the width as needed */
  max-height: 150px; /* adjust the height as needed */
  overflow: hidden; /* hides overflow content */
  display: -webkit-box; /* ensures compatibility with webkit browsers */
  -webkit-box-orient: vertical; /* sets the box orientation to vertical */
  -webkit-line-clamp: 3; /* number of lines to show before truncating */
  text-overflow: ellipsis; /* adds ellipses to overflow text */
  box-sizing: border-box;
}

.results .drug-interactions .interactions-col p {
  color: #282c34;
  margin-bottom: 0;
  display: -webkit-box; /* Ensure compatibility with webkit browsers */
  -webkit-box-orient: vertical; /* Set the box orientation to vertical */
  -webkit-line-clamp: 3; /* Number of lines to show before truncating */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipses to overflow text */
  line-clamp: 3; /* Number of lines to show before truncating (standard property) */
  white-space: normal; /* Allow wrapping within the element */
}

p {
  font-weight: lighter;
}

p {
  margin-top: 0;
  /* margin-bottom: 1rem; */
}

.interactions-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  
}

.interactions-header svg {
  margin-bottom: 0.2em;
}

.results .drug-interactions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


