body {
  font-family: gemeli,helvetica neue,Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  font-weight: font-weight;
  width: 100%;
  background: #282c34;
  transition: margin-top .5s ease;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}