/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: gemeli,helvetica neue,Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  font-weight: 400;
  width: 100%;
  background: #282c34;
  transition: margin-top .5s ease;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

h1, .h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background:#212529 ;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.content-header {
  padding:1.5rem;
}

.flex-sm-header{
  align-items: center !important;
}

.auto-mr {
  margin-right: auto !important;
}

@media (min-width: 576px) {
  align-tems: center !important;
}

.form-content{
  flex: 1 1 auto;
  background: #fff;
  padding: 1.5rem;
  margin: 0;
}

.form-container {
  max-width: 1200px;
  margin: 0 auto;
}
a {
  color: #00b0f2;
  text-decoration: none;
  background-color: transparent;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.nav-tabs .nav-item {
  margin-bottom: 0;
}

.search-tabs {
  margin-bottom: 1.25rem;
  flex-wrap: nowrap;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs {
  border-bottom: 1px solid #aab3c1;
  background-color: inherit;
}

.search-tabs .nav-link.active {
  color: #ff00b8;
}

.nav-tabs .nav-link.active {
  font-weight: 700;
  border-color: #dee2e6 #dee2e6 #fff;
}

.search-tabs .nav-link {
  text-align: center;
}

.nav-tabs .nav-link {
  background-color: inherit !important;
  border: none;
  text-transform: uppercase;
  transition: color .15s ease-in-out;
  padding: .75rem 1rem;
  position: relative;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.nav-tabs .nav-link.active:before {
  content: ''; 
  width: 0;
  height: 0;
  position: absolute;
  left: calc(50% - 7px);
  bottom: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #aab3c1;
}

.nav-tabs .nav-link.active:after {
  content: ''; 
  width: 0;
  height: 0;
  position: absolute;
  left: calc(50% - 7px);
  bottom: -1.5px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
}

/* ***********************************************************Interax form row ***********************************************/
.content-container .form-content.interax-form-content 
.interax-form-row, .interaction-search-container .interax-form-row{
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 0;
}

.form-content .form-row {
  display: flex;
  flex-wrap: nowrap;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
}

form.name-search-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  width: 50%;
}

input {
  overflow: visible;

}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* ************* Search Box *************************** */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
h6, .h6 {
  font-size: 1rem;
}
form.name-search-form 
.drug-search-box {
    background: #282c34;
    padding: 2rem 3rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

form.name-search-form .drug-search-box .interax-header{
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}


form.name-search-form .drug-search .select2-container {
  width: 100% !important;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

form.name-search-form .drug-search .select2-selection {
  height: 50px;
  border: 2px solid #ff00b8;
  border-radius: 25px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container--default .select2-selection--multiple {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

form.name-search-form .drug-search .select2-selection__rendered {
  line-height: 48px;
  padding-left: 0;
  padding-right: 0;
  font-sizing: 1.25rem;
  font-weight: lighter;
}